:root {
    /* --clr-primary-black: rgb(15,15,15); */
    --clr-primary-black: #0f0f0f;
    --clr-primary-black-lighter: #595451;
    --clr-neutral-beige: #d1c9bc;
    --clr-neutral-beige: #c8c1b4;
    --clr-neutral-off-white: #F2F3F7;
    --clr-neutral-white: #fefefe;
    --clr-accent-yellow: #f9dd90;

    --ff-primary: 'Poppins', sans-serif;

    --fw-bold: 700;
    --fw-regular: 400;
    --fw-light: 300;

    --fs-nav: 18px;
    --fs-cta-small: 9px;
}


/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }




  /* GENERAL STYLING */
  body {
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-white);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-black);
    overflow-x: hidden;
    /* white-space: nowrap; */
  }

  main {
    overflow-x: hidden;
    /* white-space: nowrap; */
  }

  ::selection {
    background: var(--clr-neutral-beige);
  }

  .nav {
    width: 100%;
    padding-top: 1rem;
    position: fixed;
    z-index: 999;
  }

  .container {
    margin-inline: auto;
    width: 95%;
  }

  .skills-container {
    margin-inline: auto;
    width: 63%;
  }

  .flex-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
  }

  .flex-split-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-black);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: all ease-in-out 250ms;
  }

  .logo[data-state="active"] {
    font-weight: var(--fw-bold);
    color: var(--clr-accent-yellow);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .clr-neutral-beige {
    color: var(--clr-accent-yellow);
  }

  .link-parent > * + * {
    margin-left: 1.5rem;
  }

  .link-block {
    font-size: 1rem;
    color: var(--clr-primary-black);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
    transition: all ease-in-out 250ms;
  }

  .link-block[data-state="active"] {
    font-size: 1rem;
    color: var(--clr-neutral-white);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
  }

  .fs-larger {
    font-size: 18px;
  }

  .link-block::after {
    display: block;
    content: '';
    background-color: var(--clr-accent-yellow);
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 0px;
    opacity: 0%;
    transition: all ease-in-out 300ms;
  }

  .link-block:hover::after {
    height: 7px;
    opacity: 100%;
  }

  .small-txt-ihero {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .small-txt-ihero-2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-top: 4vw;
  }

  .small-txt-ihero-3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-top: 3vw;
  }

  .small-txt-ihero-4 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-top: 9vw;
  }

  .small-txt-ihero-4 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-top: 9vw;
  }

  .small-txt-block-1 {
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 3px;

    margin-left: 10vw;
    margin-top: 21vw;

  }

  .small-txt-block-2 {
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-right: 45vw;
    margin-top: 8vw;
    padding: 1rem;
  }

  .small-txt-block-3 {
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-right: 24vw;
    margin-top: 3vw;
    padding: 1rem;
  }

  .small-txt-block-4 {
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-right: 24vw;
    margin-top: 3vw;
    padding: 1rem;
  }

  .headline-txt {
    font-size: 15vw;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }

  .heading-1 {
    text-align: center;
    width: max-content;
    transform: translateX(-55vw);
    transition: all ease-in-out 400ms
  }

  .heading-2 {
    text-align: center;
    width: max-content;
    transform: translateX(-40vw);
  }

  .heading-3 {
    text-align: center;
    width: max-content;
    transform: translateX(-23vw);
  }

  .heading-4 {
    text-align: center;
    width: max-content;
    transform: translateX(-38vw);
  }

  .heading-5 {
    text-align: center;
    width: max-content;
    transform: translateX(-90vw);
    font-size: 13vw;
  }
  
  .heading-6 {
    font-size: 13vw;
    text-align: center;
    width: max-content;
    transform: translateX(-44vw);
  }


  .heading-accent {
    color: var(--clr-neutral-beige);
  }

  .mouse-cursor {
    width: 2vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--clr-primary-black);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
    /* transition: all ease-in-out 300ms; */
  }
  
  .mouse-cursor[data-state="active"] {
    background-color: var(--clr-neutral-white);
  }

  .mouse-cursor[data-state=""] {
    background-color: var(--clr-primary-black);
  }

  .dp {
    margin-top: 6rem;
    margin-inline: auto;
    border-radius: 50%;
    filter: brightness(1.2) saturate(0%) contrast(1.1);
    width: 20vw;
    margin-bottom: 10rem;
    transform: rotate(-3deg);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }

  .skill-image {
    width: 5vw;
    margin-inline: auto;
    filter: saturate(100%);
  }

  .section-home-intro {
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 3vw;
  }

  .section-skills {
    margin-top: 2vw;
  }

  .align-center {
    text-align: center;
  }

  .h2-heading {
    font-size: 5rem;
    font-weight: 400;
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .skill-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    text-align: center;
    border: 1px solid #e5d7ce;
    width: 9vw;
    height: 12vw;
    border-radius: 5px;
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 2px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }

  .skills-box {
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .highlight {
    background-color: var(--clr-accent-yellow);
  }

  .cover {
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-primary-black);
    z-index: 1000;
    color: var(--clr-neutral-white);
    display: grid;
    place-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    font-size: 2rem;
    font-family: var(--ff-primary);
    font-weight: 400;
  }

  .cover-beige {
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-neutral-beige);
    z-index: 999;
    color: var(--clr-neutral-white);
    position: fixed;
    bottom: 0px;
  }

  .about-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 80%;
    margin-top: 8vw;
    gap: 5vw;
  }

  @media (max-width: 50em) {
      .about-hero {
          width: 10px;
      }
  }

  .about-txt {
    font-size: 2.5vw;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 8px;
    width: 50vw;
  }

  .section-about {
    margin-top: -9vw;
  }

  @media (max-width: 50em) {
      .section-about {
          text-align: left;
      }

  }

  .small-txt-font {
    color: var(--clr-primary-black-lighter);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 3px;
  }

  .heading-txt {
    font-size: 9vw;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
  }

  .portfolio-block-1 {
    text-decoration: none;
    padding-block: 2rem;
    position: relative;
  }

  .portfolio-img {
    position: absolute;
    right: 5vw;
    bottom: -11vw;
    width: 47vw;
    z-index: -1;
  }

  .portfolio-soon {
    position: absolute;
    padding-left: 5px;
    right: 5vw;
    bottom: -1vw;
    width: 20vw;
    z-index: 2;
    background-color: #f9dd90;
  }

  .important {
      margin-block: -34px !important;
  }

  .section-projects {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }

  .interactive-button {
    font-size: 3vw;
    font-weight: 500;
    background: none;
    padding-block: 0.3em;
    padding-inline: 0.7em;
    /* border-radius: 100vmax; */
    border: 0.1em solid var(--clr-neutral-white);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 300ms;
    color: var(--clr-neutral-white);
  }

  .interactive-button:hover {
    color: var(--clr-primary-black);
    background-color: var(--clr-neutral-white);
  }

  .bg {
    background-color: var(--clr-neutral-white);
    background-color: var(--clr-primary-black);
    transition: all ease-in-out 300ms
  }

  footer {
    margin-top: 30rem;
    padding-bottom: 10vw;
    transition: all ease-in-out 300ms;
    overflow-x: hidden;
    white-space: nowrap;
  }

  footer::after {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-primary-black);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -3;
    opacity: 0%;
    transition: all ease-in-out 300ms;

  }

  footer[data-state="active"] {
    color: white;
  }

  main {
    transition: all ease-in-out 300ms;
  }

  main[data-state="active"] {
    background-color: var(--clr-primary-black);
  }

  .clr-yellow {
    color: var(--clr-accent-yellow)
  }

  .margin-bottom {
    margin-bottom: 1rem;
  }

  @media (max-width: 50em) {
    .flex-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6vw;
    }

    .dp {
      margin-top: 2rem;
      margin-inline: auto;
      border-radius: 50%;
      filter: brightness(1.2) saturate(0%) contrast(1.1);
      width: 35vw;
      margin-bottom: 0rem;
      transform: rotate(-3deg);
      box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    }

    .headline-txt {
      font-size: 17vw;
      font-weight: 400;
      line-height: 1;
      text-align: center;
    }

    .heading-1 {
      text-align: center;
      width: max-content;
      transform: translateX(-65vw);
      transition: all ease-in-out 400ms
    }
  
    .heading-2 {
      text-align: center;
      width: max-content;
      transform: translateX(-50vw);
    }
  
    .heading-3 {
      text-align: center;
      width: max-content;
      transform: translateX(-23vw);
    }
  
    .heading-4 {
      text-align: center;
      width: max-content;
      transform: translateX(-70vw);
    }
  
    .heading-5 {
      font-size: 15vw;
      text-align: center;
      width: max-content;
      transform: translateX(-100vw);
    }
    
    .heading-6 {
      font-size: 16vw;
      text-align: center;
      width: max-content;
      transform: translateX(-40vw);
    }

    .small-txt-ihero {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 3rem;
      padding-top: 2rem;
    }

    .small-txt-ihero-2 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
      margin-top: 0.6rem;
    }

    .about-txt {
      font-size: 4vw;
      font-weight: 300;
      letter-spacing: 1px;
      word-spacing: 8px;
      width: 90vw;
    }

    .small-txt-ihero-3 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5rem;
      margin-top: 3vw;
    }

    .skill-card {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      justify-content: center;
      text-align: center;
      border: 1px solid #e5d7ce;
      width: 5rem;
      height: 6.5rem;
      border-radius: 5px;
      color: var(--clr-primary-black-lighter);
      text-transform: uppercase;
      font-size: 8px;
      font-weight: 500;
      letter-spacing: 2px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    }

    .skills-container {
      margin-inline: auto;
      width: 83%;
    }

    .skill-image {
      width: 3.5rem;
      margin-inline: auto;
      filter: saturate(100%);
    }

    .interactive-button {
      font-size: 6vw;
      font-weight: 500;
      background: none;
      padding-block: 0.3em;
      padding-inline: 0.7em;
      /* border-radius: 100vmax; */
      border: 0.1em solid var(--clr-neutral-white);
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: all ease-in-out 300ms;
      color: var(--clr-neutral-white);
    }

    footer {
      padding-bottom: 10rem;
      margin-top: 15rem;
      transition: all ease-in-out 300ms;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
